{%  macro nextprev(page) -%}
{%  if page.prev or page.next %}
  <h1>
  {%  if page.prev %}
    prev: <a href="{{ page.prev.url }}">{{ page.prev.title }}</a>
  {%  else %}
    prev: None
  {%  endif %}
  |
  {%  if page.next %}
    next: <a href="{{ page.next.url }}">{{ page.next.title }}</a>
  {%  else %}
    next: None
  {%  endif %}
  </h1>
{%  endif %}
{%- endmacro %}