---
title: blogs
header: stuff i've written
---
{% extends 'layouts/header.j2' %}

{% block content %}
  <ol>
  {% for blog in site.blogs %}
    <li><span>{{ blog.date | date }}</span> &rsaquo; <a href="{{ blog.url }}">{{ blog.title }}</a></li>
  {% else %}
    <li>None</li>
  {% endfor %}
  </ol>
{% endblock %}
