----
page: post
title: 'Test blog'
----
{% extends 'layouts/base.j2' %}

{% block main %}
{{ super() }}

{% from 'snippets/nextprev.j2' import nextprev %}
{{ nextprev(my) }}

<p>This one?  not so much&hellip;</p>

{% endblock %}