----
title: 'Test blog'
----
{% extends 'layouts/base.j2' %}

{% block main %}
{{ super() }}
<h1>prev: {{ my.prev }}</h1>
<h1>next: {{ my.next }}</h1>

<p>Isn't this nice a nice blog?</p>

{% endblock %}