---
title: home
header: this is my home page
---
{% extends 'layouts/header.j2' %}

{% block content %}
{{ super() }}
<h2>Blog</h2>

<ul class="posts">
{% for blog in site.blogs %}
  <li><span>{{ blog.date | date }}</span> &rsaquo; <a href="{{ blog.url }}">{{ blog.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}