---
test: nifty
---
{% extends "layouts/base.j2" %}

{% block main -%}
  <h1>Blogs ({{ site.blogs | count }})</h1>
  <ol>
  {% for blog in site.blogs %}
    {% if blog.is_folder %}
      <li>{{ blog.title }}</li>
    {% else %}
      <li><a href="{{ blog.url }}">{{ blog.title }}</a></li>
    {% endif %}
  {% else %}
    <li>None</li>
  {% endfor %}
  </ol>

  <h1>Projects ({{ site.projects | count }})</h1>

  Index! by {{ meta.author.name }}
{%- endblock %}
