/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

.minime
{
  padding: 0px;
  margin: 0px;
  float: left;
  left: -20px;
  position: relative;
}

.topbar .brand {
  font-family: 'Wire One', sans-serif;
  letter-spacing: 1px;
}

code
{
  font-family: 'Anonymous Pro', monospace;
  background-color: #dddddd;
  border: 1px solid #333333;
}

footer
{
  margin-top: 20px;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {

  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

/*  .logo {
    background: url(logo2x.jpg) no-repeat;
    background-size: 212px 303px;
  }*/

}