{% extends 'layouts/base.j2' %}

{% block main %}
{% block header %}

<div class="page-header">
  <h1>
    {{ page.title }}
    {% if page.header %}
    <small>{{ page.header }}</small>
    {% endif %}
  </h1>
</div>

{% endblock %}

{%block content %}{% endblock %}

{% endblock %}