
{{ a_date|date }}
{{ a_date|date('%c') }}

{{ a_str_date|date }}
{{ a_str_date|date('%c') }}

{{ 'Some *markdown* text'|markdown }}

{{ 'sha'|sha }}

{{ 'word'|pluralize }}

{{ ["more\n\ttext"]|json }}

{{ my.url|uuid }}
